#prWidgetSitebar img {
    width: 32px;
}

#prWidgetSitebar ul {
    margin-bottom: 0;
    list-style: none;
}

#prWidgetSidebar-moreInfo {
    width: 100%;
    text-align: end;
}

.zpzppl-offers-list-title {
    margin-bottom: 15px;
}
